// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon, 
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: rgb(47, 161, 90) !important;
}

.tabs-ios .tab-button[aria-selected=true] span.tab-button-text,
.tabs-md .tab-button[aria-selected=true] span.tab-button-text {
    color: rgb(47, 161, 90) !important;
}

.toolbar-background.toolbar-background-ios, .toolbar-background.toolbar-background-md {
    background: rgb(47, 161, 90) !important;
}

button.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgb(47, 161, 90) !important;
}

.toolbar .searchbar-ios .searchbar-input {
    background: rgba(255, 255, 255, 0.2) !important;
}

.searchbar-ios .searchbar-input {
    color:#fff !important;
}

.searchbar-md .searchbar-input {
    border-radius: 10px !important;
    background: #ffffff !important;
    box-shadow: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
}

.toolbar-title-ios, .toolbar-title-md {
    color: #fff;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}

button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
    margin-left: 5px;
}

ion-list-header.header-info-menu.item.item-md.list-header.list-header-md {
    margin-top: 10px;
    margin-bottom: 0 !important;
    min-height: 4.5rem;
    border-top: none !important;
}


