page-intro {

    img.slide-img1 {
        width: 240px;
        margin-left: 5px;
    }

    img.slide-img2 {
        width: 200px;
        margin-top: 12px;
    }

    img.slide-img3 {
        width: 235px;
    }

    img.slide-img4 {
        width: 200px;
        padding-top: 50%;
    }

    ion-slide {
        padding-right: 15px;
        padding-left: 15px;
    }

    .small {
        font-size: 10.5pt;
    }

    .botoes {
        margin-top: 40%;
    }

    .botoes button.button-continuar.disable-hover.button.button-ios.button-outline.button-outline-ios.button-outline-ios-secondary,
    .botoes button.button-continuar.disable-hover.button.button-ios.button-default.button-default-ios.button-ios-secondary,
    .botoes button.button-continuar.disable-hover.button.button-md.button-outline.button-outline-md.button-outline-md-secondary,
    .botoes button.button-continuar.disable-hover.button.button-md.button-default.button-default-md.button-md-secondary {
        width: 230px;
    }
}
