page-ranking {
    ion-note {
        font-size: 13px;
        align-self: flex-start;
        margin-top: 15px !important;
      }

    ion-list-header.item.item-md.list-header.list-header-md,
    ion-list-header.item.item-ios.list-header.list-header-ios {
        margin-bottom: 0px !important;
    }

    ion-list.list.list-md,
    ion-list.list.list-ios {
      margin: 0px !important;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
      border-bottom: 0ch;
    }

    .list-ios > .item-block:first-child {
      border-top: 0ch;
    }
}
